spring:
  application:
    name: Library-Management-System

  datasource:
    url: jdbc:mysql://localhost:3307/LMS_DB?useSSL=false&serverTimezone=UTC
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: nguenosteve3@gmail.com
    password: tonMotDePasseApplication
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          default-encoding: UTF-8

server:
  port: 8080
  servlet:
    context-path: /api

springdoc:
  packages-to-scan: com.example.LMS.controllers
  exclude-filters:
    - name: com.example.LMS.GlobalExceptionHandler
      type: ASSIGNABLE_TYPE

